<html>
  <body>
    <h2>ログイン</h2>
    <form action="/signin" method="post">
      <input type="text" name="name" class="form-control" placeholder="名前を入力して下さい">
      <input type="submit" value="投稿">
    </form>
  </body>
</html>