<html>
  <body>
    <h2>新規投稿</h2>
    <form action="/post/create" method="post">
      <textarea name="content" rows="8" cols="80"></textarea>
      <input type="submit" value="投稿">
    </form>
  </body>
</html>